<ul>
  <% data.forEach(item => { %> <% if (item.NIM === single_data) { %>
  <li>Nama : <%= item.Nama %></li>
  <li>NIM : <%= item.NIM %></li>
  <li>Jurusan : <%= item.Jurusan %></li>
  <% } %> <% }) %>
</ul>
