<h1>WEB SERVER BY EXPRESS JS</h1>
<h2>Daftar Mahasiswa Telkom University</h2>
<% data.forEach(item => { %>
<li>Nama : <%= item.Nama %></li>
<li>NIM : <%= item.NIM %></li>
<li>Jurusan : <%= item.Jurusan %></li>
<button>
  <a>detail</a>
</button>
<br />
<br />
<% }) %>
